.idea
.DS_Store
.htaccess
/log
dist_urac_install/*
test6.txt
spm.php
spm_40.php
ab_rekey.php
/script*
get_addon*
!scripts.post.tpl
/images/*
!/images/.htaccess
!/images/index.php
!/images/no_image.png
!/images/spinner.gif
/var/*
!/var/langs
!/var/snapshots
!/var/themes_repository
!/var/.htaccess
!/var/index.php
!/var/backups/.htaccess
!/var/database/.htaccess
!/var/restore/.htaccess
!/var/upgrade/.htaccess
!/var/conf/
/docs
/dev44
/downloads
/upgrades/*
!/upgrades/source_restore.php
/var/*
!/var/themes_repository/
!/var/langs/
!/var/snapshots/
!/var/index.php
!/var/.htaccess
!/var/upgrade/restore.php
!/var/upgrade/.htaccess
!/var/GeoLite2/
*.sql
*.zip
robots.txt
config.local.php
local_conf.php
/FETCH_HEAD
/updated_store
